<a data-plugin-options="{'placement': 'right'}" tabindex="0" class="btn {{Settings.ButtonColor}} mb-lg" role="button" data-plugin-popover="popover" data-toggle="popover" data-trigger="focus" title="{{PopoverTitle}}" data-content="{{PopoverContent}}">{{Button}}</a>
